/* Estilos navbar */
.santiagofest-navbar {
    background-color: #FF8800;
}

.nav-link {
    font-weight: 300;
    transition: font-weight 0.5s ease;
}

.nav-link:hover {
    color: white;
}

.btn-outline-success {
    color: black;
    border-color: black;
}

.btn-outline-success:hover{
    background-color: white;
    border-color: white;
    color: #FF8800;
}

/*Estilos de Tiky*/
h1{
    color:#6155f5;
    font-size: 7em;
}
.orange-bg{
    background-color: #FF8800;
}
.lila-bg{
    background-color: #AAB5C3;
    border-radius: 20px;
}

.white-text{
    color:white;
    font-size: 1em;
}

.boton-mapa{
    margin-left: 30%;
}
/*Fin Estilos de Tiky*/


/* //////////////////////////Sección Explora  Ro*/

/* //////////////////////////Fin Sección Explora  Ro*/

/* INICIO style para el carrusel de Santiago Fest */

.textFest{
    font-family: 
}

.carousel-inner {
    border-radius: 20px;
    overflow: hidden;
}

.carousel-item img {
    height: 500px;
    object-fit: cover;
}

.custom-caption {
    background: rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    padding: 20px;
    backdrop-filter: blur(5px);
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    background-color: rgba(0,0,0,0.3);
    border-radius: 50%;
    padding: 20px;
}







/* Parte de Erik */

.h2-comollegar{

  color: #7d00fb;
text-align: center;
   
}


/* FIN del style del Carrusel */




/*Redes y footer*/
#final{
    background-color: #FF8800;
}